.wrapper{
    width: 90%;
    margin: 0 auto;
}
header {
    background-color: #000;
    position: relative;
    hr {
        width: 100%;
    }
}

.header-top,.header-bottom {
    width: 100%;
}

.header-top{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
        display: flex;
        color: #ddd8c5;
        align-items: center;
        justify-content: flex-start;
        h1{
            
            font-family: 'Lobster', cursive;
            font-size: 30px;
        }
    }
    .logo__img {
        width: 50px;
        height:50px; 
        border-radius: 50%; 
        margin-right: 10px;
    }


    .search-bar {
        position: relative;
        width: 100%;
        max-width: 600px;
        min-width: 110px;
        margin: 0 20px;
        height: 30px;
        i.fa-search{
            position: absolute;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            color: #000;
            transition: all .7s linear;
            font-size: 23px;
        }
    
        input {
            width: 100%;
            height: 30px;
            background-color: #ddd8c5;
            border: none;
            border-radius: 15px;
            padding-left: 30px;
            font-size: 20px;
            position: relative;
            font-family: 'Lobster', cursive;
            // font-family: 'Sriracha', cursive;
            font-size: 22px;
            
            &:focus + i.fa-search{
                right: 3px;
                transform: translateY(-50%) rotateY(180deg);
               left: auto;
            }
        }
        
    }
}
.shopping-cart {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &__count {
        background-color: greenyellow;
        border-radius: 50%;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        transform: translate(-70%, -50%);
        text-align: center;
        font-size: 21px;
    }
    i {
        position: absolute;
        color: #ddd8c5;
        font-size: 24px;
        transition: .4s ease-in-out;
    }
    &:hover i.fa-shopping-cart:first-child{
        transform: translateX(27%);
        color: #6fbeff;
    }
    &:hover i.fa-shopping-cart:last-child{
        transform: translateX(40%);
        
    }
   
}
.header-bottom {
    text-align: center;
    position: relative;
    ul {
        list-style: none;
    
        li {
            display: inline-block;
            a {
                text-decoration: none;
                display: block;
                text-transform: uppercase;
                color: #fff;
                padding: 10px 20px;
                font-family: 'Sriracha', cursive;
                &:hover {
                    background-color: #ddd8c5;
                    color: #000;
                }
                &.active {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
    .currency {
        color: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        
    }
}

section.home {
    background: url(./backgr1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}


section.main {
    width: 100%;
    height: 100%;
    min-height: 600px;
    display: flex;
    position: relative;
        .filter-container {
            width: 15%;
        }
        .products-container{
            width: 85%;
        }
    
}


.filter-container {
    background-color: #cae1f3;
    border-right: 2px solid #fff;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5px;
}
.products-container {
    background: url(https://cdn5.vectorstock.com/i/1000x1000/21/34/graffiti-colorful-background-vector-26222134.jpg) repeat center;
    // background-size: cover;
    background-attachment: fixed;
    font-family: 'Sriracha', cursive;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    height: 100%;
    min-height: 100vh;
    // overflow-y: auto; 
    padding: 15px;
    padding-top: 20px;
    &__item{
        width: 20%;
        // height: 100%;
        margin: 3% 2%;
        min-width: 240px;
        min-height: 250px;
        // flex-grow: 1;
        perspective: 900px;
    }
    .rotate {
        position: relative;
            width: 100%;
            height: 100%;
            transition: .5s linear;
            transform-style: preserve-3d;
    }
    &__item:hover .rotate {
        transform: rotateY(-180deg);
    }
    .front {
        width: 100%;
        // height: 100%;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 5px 1px #909090;
        border-radius: 7px;
        backface-visibility: hidden;
        img {
            width: 100%;
            min-width: 200px;
            height: 65%;
            min-height: 150px;
        }
        .product-brand {
            font-size: 20px;
            text-transform: uppercase;
        }
        .product-name {
            font-size: 18px;
            margin: 0;
        }
        span.line {
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: black;
            margin: 3px 10px;
        }
        .product-price {
            font-weight: bolder ;
            display: inline-block;
            background-color: #cae1f3;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 16px;
               
        }
    
    }
    .back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            // height: 100%;
            padding: 10px;
            background-color: #fff;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            transform: rotateY(180deg);
            border-radius: 7px;
            backface-visibility: hidden;
        .product-description {
            font-size: 14px;
        }
        .product-sizes{
            display: flex;
            width: 100%;
            flex-flow: row wrap;
            justify-content: center;
            margin: 5px 0;
            &__item{
                display: inline-block;
                padding: 0px 10px;
                margin: 5px;
                border: 1px solid #000;
                &:hover {
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
        .product-add-to-cart{
            display: inline-block;
            justify-self: flex-end;
            width: 100%;
            font-size: 16px;
            padding: 5px;
            background-color: #cae1f3;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s linear;  
            &:hover {
                box-shadow: -2px -3px 2px  rgba(160, 160, 160, 0.7);
                transform: translate(5px, 5px);
            }
        }
    }
}

.filters {
    display: flex;
    flex-flow: column;
    border: none;
   margin: 10px 10px 0px;
    width: max-content;
    &:nth-child(1){
        margin-top: 15px;
    }
    fieldset {
        max-height: 51px;
        overflow-y: hidden;
        transition: all .3s linear;
        border: 2px solid #404040;
        &.active  {
            max-height: fit-content;
        }
    }
    
    legend {
        border-bottom: 2px solid #404040;
        font-size: 24px;
        height: 50px;
        width: 150px;
        padding: 12px 10px 0px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: all .5s linear;
        &:hover {
            box-shadow: inset 0px 50px   #ffffff;
        }
    }
    label {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 10px;
        background-color: #fff;
        border-bottom: 1px solid #707070;
        &:hover {
            background-color: #ddd8c5;
            cursor: pointer;
        }
    }
    input {
        display: none;
        // height: 0;
        // width: 0;
    }
     input:checked + label::after {
            content: '';
            display: block;
            position: absolute;
            width: 150px;
            height: 50px;
            top: 0;
            left: 0;
            background-color: rgba(54, 54, 54, 0.7)

    }
    
}
@media screen and (max-width: 1115px){
    
    .header-top .logo h1{
        font-size: 24px;   
    }
    .logo .logo__img {
        width: 45px;
        height:45px; 
    }
}
@media screen and (max-width: 1199px){
   
    section.main{
        display: flex;
        flex-direction: column;
         .filter-container {
             width: 100%;
             display: flex;
             flex-flow: row wrap;
             align-items: baseline;
             justify-content: center;
             height: max-content;
             position: static;
         }
         .products-container{
             width: 100%;
             height: max-content;
             overflow-y: visible;
         }
     
    }   
}

// @media screen and (max-width: 750px){
   
//     section{
//      .wrapper {
//          display: flex;
//          flex-flow: column nowrap;
//          .filter-container {
//              width: 100%;
//              display: flex;
//              flex-flow: row wrap;
//              justify-content: flex-start;
//          }
//          .products-container{
//              width: 100%;
//              height: max-content;
//              overflow-y: visible;
//          }
//      }
//     }
// }

@media screen and (max-width: 500px){

    .logo h1 {
        display: none;
    }

}


.mainTitle {
    width: 100%;
    text-align: center;
    font-size: 45px;
}
.contactsTitle {
    width: 100%;
}

.cart {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    h2 {
        text-align: left;
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
    }
}

td{
    border-top: 1px solid black;
    padding: 10px;
    width: max-content;
}
th {
    text-align: left;
    font-size: 21px;
    padding: 0px 15px 5px 5px;
}
.cart-table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    &__item{
        width: 100%;
    }
    &__picture{
        width: max-content;
        img {
            width: 100px;
            height: 100px;
            border-radius: 7px;
        }
    }
    &__info{
        width: fit-content;
    }
    &__price{
        text-align: left;

    }
    @media screen and (max-width: 1099px) {
        .cart-table{
            &__price{
            display: none;
            }
        }
        th.Price {
            display: none;
        }
    }

    &__total{
        text-align: left;
    }
    &__quantity{
        input{
            display: inline-block;
            width: 40px;
            height: 30px;
            text-align: center;
            font-weight: bolder;
            vertical-align: middle;
        }
        button {
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            font-size: 25px;
        }
    }
    &__gender{
        text-align: left;

    }
    &__delete{
        text-align: center;
        button{
            border: none;
            background-color: red;
            padding: 10px;
            border-radius: 7px;
            cursor: pointer;
        }
    }
}

.proceed {
    display: block;
    text-align: right;
    width: 95%;
    margin: 0 auto;
    button {
        padding: 15px 20px;
        background-color: lightgreen;
        border: 4px solid transparent;
        border-radius: 7px;
        text-transform: uppercase;
        cursor: pointer;
        // transition: border .4s linear;
        &:hover {
            animation: borderAnimate .9s infinite ;
        }
    }
}
@keyframes borderAnimate {
    // 0% {border-top:4px solid transparent;}
    0% {border-top:4px solid orange; border-right: 4px solid transparent;}
    25% {border-top: 4px solid transparent;border-right: 4px solid orange;}
    50% {border-right: 4px solid transparent;border-bottom: 4px solid orange;}
    75% {border-bottom:4px solid  transparent;border-left: 4px solid orange;}
    100% {border-left:4px solid transparent;border-top: 4px solid orange;} 
}