.wrapper{
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: #000;
    position: relative;
    hr {
        width: 100%;
    }
}

.header-top,.header-bottom {
    width: 100%;
}

.header-top{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
        display: flex;
        color: #ddd8c5;
        align-items: center;
        justify-content: flex-start;
        h1{
            
            font-family: 'Lobster', cursive;
            font-size: 30px;
        }
    }
    .logo__img {
        width: 50px;
        height:50px; 
        border-radius: 50%; 
        margin-right: 10px;
    }


    .search-bar {
        position: relative;
        width: 100%;
        max-width: 600px;
        min-width: 110px;
        margin: 0 20px;
        height: 30px;
        i.fa-search{
            position: absolute;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            color: #000;
            transition: all .7s linear;
            font-size: 23px;
        }
    
        input {
            width: 100%;
            height: 30px;
            background-color: #ddd8c5;
            border: none;
            border-radius: 15px;
            padding-left: 30px;
            font-size: 20px;
            position: relative;
            font-family: 'Lobster', cursive;
            // font-family: 'Sriracha', cursive;
            font-size: 22px;
            
            &:focus + i.fa-search{
                right: 3px;
                transform: translateY(-50%) rotateY(180deg);
               left: auto;
            }
        }
        
    }
}
.shopping-cart {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    i {
        position: absolute;
        color: #ddd8c5;
        font-size: 24px;
        transition: .4s ease-in-out;
    }
    &:hover i:first-child{
        transform: translateX(27%);
        color: #6fbeff;
    }
    &:hover i:last-child{
        transform: translateX(40%);
        
    }
}
.header-bottom {
    text-align: center;
    position: relative;
    ul {
        list-style: none;
    
        li {
            display: inline-block;
            a {
                text-decoration: none;
                display: block;
                text-transform: uppercase;
                color: #fff;
                padding: 10px 20px;
                font-family: 'Sriracha', cursive;
                &:hover {
                    background-color: #ddd8c5;
                    color: #000;
                }
            }
        }
    }
    .currency {
        color: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        
    }
}

section {
    width: 100%;
    min-height: 600px;
    background: url(./backgr1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .wrapper {
        display: flex;
        flex-flow: row nowrap;
        width: 80%;
        .filter-container {
            width: 20%;
        }
        .products-container{
            width: 80%;
        }
    }
}


.filter-container {
    background-color: #cae1f3;
    border-right: 2px solid #fff;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}
.products-container {
    background-color: #cae1f3;
    font-family: 'Sriracha', cursive;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100%;
    // overflow-y: auto;
    padding-top: 20px;
    padding: 20px;
    &__item{
        background-color: #fff;
        width: 30%;
        margin: 1%;
        min-width: 270px;
        min-height: 300px;
        padding: 20px 15px;
        flex-grow: 1;
        cursor: pointer;
        box-shadow: 0 0 5px 1px #909090;
        border-radius: 7px;
        img {
            width: 100%;
            min-width: 250px;
            height: 70%;
            min-height: 250px ;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 24px;
            // text-transform: uppercase;
        }
        p {
            font-size: 18px;
            margin: 0;
        }
        span.line {
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: black;
            margin: 3px 10px;
        }
        p + span {
            font-weight: bolder;
        }
    }
}

.filters {
    display: flex;
    flex-flow: column;
    border: none;
   margin: 10px 10px 0px;
    width: max-content;
    &:nth-child(1){
        margin-top: 20px;
    }
    fieldset {
        max-height: 55px;
        overflow-y: hidden;
        transition: all .3s linear;
        border: 2px solid #404040;
        &.active  {
            max-height: fit-content;
        }
    }
    
    legend {
        border-bottom: 2px solid #404040;
        font-size: 24px;
        height: 50px;
        width: 150px;
        padding: 12px 10px 0px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: all .5s linear;
        &:hover {
            box-shadow: inset 0px 50px   #ffffff;
        }
    }
    label {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 10px;
        background-color: #fff;
        border-bottom: 1px solid #707070;
        &:hover {
            background-color: #ddd8c5;
            cursor: pointer;
        }
    }
    input {
        display: block;
        height: 0;
        width: 0;
    }
     input:checked::after {
            content: '';
            display: block;
            position: absolute;
            width: 150px;
            height: 50px;
            top: 0;
            left: 0;
            background-color: rgba(54, 54, 54, 0.7)

    }
    
}
@media screen and (max-width: 1115px){
    
    .header-top .logo h1{
        font-size: 24px;   
    }
    .logo .logo__img {
        width: 45px;
        height:45px; 
    }
}
@media screen and (max-width: 1000px){
   
    section{
     .wrapper {
         display: flex;
         flex-flow: column nowrap;
         .filter-container {
             width: 100%;
             display: flex;
             flex-flow: row wrap;
             align-items: baseline;
             justify-content: center;
             height: max-content;
             position: static;
         }
         .products-container{
             width: 100%;
             height: max-content;
             overflow-y: visible;
         }
     }
    }   
}

// @media screen and (max-width: 750px){
   
//     section{
//      .wrapper {
//          display: flex;
//          flex-flow: column nowrap;
//          .filter-container {
//              width: 100%;
//              display: flex;
//              flex-flow: row wrap;
//              justify-content: flex-start;
//          }
//          .products-container{
//              width: 100%;
//              height: max-content;
//              overflow-y: visible;
//          }
//      }
//     }
// }

@media screen and (max-width: 500px){

.logo h1 {
    display: none;
}

}